@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

img {

    width: 150px;
    margin: 0px;
    padding: 0px;
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
   font-family: "Gentium Plus", serif;
  font-weight: 400;
  font-style: normal;
  
}

header {

    margin: 20px 50px;
    text-align: center;
}

#titulo{

    text-align: center;
}